<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<header>
  <ul id="navbar">
            <span >
                <img style="padding: 8px 8px 8px 20px;"
                src="../../assets/icons/logo used in header.svg" alt="">
            </span>

                <li class="to_hide_big to_show_small" id="ham" style="margin-right: 5px;">
                    <div class="hamb"></div>
                    <div class="hamb"></div>
                    <div class="hamb"></div>
                </li>
                <li style="position: relative;">
                    <span class="to_hide_big_T to_show_small_T" style="position: absolute;top: 10px;right: 8px;background-color: white;
                    border-radius: 50%;width: 16px;height: 16px;justify-content: center;align-items: center;
                    font-size: 12px;color: black;">
                        T</span>
                    <img style="border-radius: 50%;border:2px solid green" src="../../assets/raw/hiten-chawda.jpeg" alt="" width="24px" height="24px">
                </li>
                <li id="announcement" style="position: relative;">
                    <span id="in" class="an" >
                        1</span>
                    <img class="animg" class="an" src="../../assets/icons/announcements.svg" alt="">
                </li>
                <li  id="alert" style="position: relative;">
                    <span id="in" class="al">
                        2</span>
                    <img class="alimg" src="../../assets/icons/alerts.svg" alt="">
                </li>
                <li class="to_hide_small"><a href="#about">ADMIN</a></li>
                <li class="to_hide_small"><a href="#about">REPORTS</a></li>
                <li class="to_hide_small"><a href="#contact">USERS</a></li>
                <li class="to_hide_small"><a href="#news">CONTENT</a></li>
                <li class="to_hide_small"><a href="#home">DASHBOARD</a></li>
                <!-- <li><a href="#about">ADMIN</a></li>
                <li><a href="#about">REPORTS</a></li>
                <li><a href="#contact">USERS</a></li>
                <li><a href="#news">CONTENT</a></li>
                <li><a class="active" href="#home">DASHBOARD</a></li> -->
                <div class="dropdown-content">
                    <a  id="main">DASHBOARD
                      <img style="position: absolute;right: 15px;width: 18px;margin-top: 8px;" src="../../assets/raw/dropdown-arrow.jpg" alt="">
                    </a>
                    <a  id="main" class="content" (click)="contentView()">
                        CONTENT
                        <img id="sub" style="position: absolute;right: 15px;width: 18px;margin-top: 8px;" src="../../assets/raw/dropdown-arrow.jpg" alt="">
                    </a>
                    <a style="display: none;"  id="sub-main">
                      COURSE CATALOG
                    </a>
                    <a id="main" href="#">
                        USERS
                        <img style="position: absolute;right: 15px;width: 18px;margin-top: 8px;" src="../../assets/raw/dropdown-arrow.jpg" alt="">

                    </a>
                    <a id="main" href="#">
                        REPORTS
                        <img style="position: absolute;right: 15px;width: 18px;margin-top: 8px;" src="../../assets/raw/dropdown-arrow.jpg" alt="">

                    </a>
                    <a id="main" href="#">
                        ADMIN
                        <img style="position: absolute;right: 15px;width: 18px;margin-top: 8px;" src="../../assets/raw/dropdown-arrow.jpg" alt="">
                    </a>
                </div>

                <div class="dropdown-content-announcement" >
                    <div id="one">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;padding-top: 12px;">
                            <div><span style="color: #888888;">PA:</span> Wilson Kumar
                                <img style="float: right;" width="26px"
                                src="../../assets/icons/completed.jpg" alt=""></div>

                            <div>No classes will be held on 21st Nov</div>
                            <span
                            style="color: #888888;margin-top: 8px;display: inline-block;">
                            <span style="color: #888888;">&#x1F4CE;</span> 2 files are attached</span>
                            <span style="color: #888888;display: inline-block;margin-top: 8px;float: right;">
                                15-Sep-2018 at 07:21 pm</span>
                        </a>
                        <hr style="margin: 0;">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;
                        background-color: #ffffee;padding-top: 10px;">
                           <div><span style="color: #888888;">PA:</span> Wilson Kumar
                            <img style="float: right;" width="22px"
                            src="../../assets/icons/minimize.png" alt=""></div>

                            <div style="width: 250px;"
                            >Guest lecture on Geometry on 20th September</div>
                            <span style="color: #888888;margin-top: 5px;display: inline-block;"> <span style="color: #888888;">&#x1F4CE;</span> 2 files are attached</span>
                            <span style="color: #888888;display: inline-block;float: right;margin-top: 5px">
                                15-Sep-2018 at 07:21 pm</span>
                        </a>
                        <hr style="margin-top: 0;margin-bottom: 0px;">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;padding-top: 12px;">
                            <div><span style="color: #888888;">PA:</span> Wilson Kumar
                                <img style="float: right;" width="26px"
                                src="../../assets/icons/completed.jpg" alt=""></div>
                             <div style="width: 250px;"
                             >Additional course materials available on request</div>
                            <span
                            style="color: #888888;margin-top: 8px;display: inline-block;">
                            <span style="color: #888888;">Course: Mathematics 101</span>
                            <span style="color: #888888;display: inline-block;float: right;margin-left: 5px;margin-top: 25px;">
                                15-Sep-2018 at 07:21 pm</span>
                            </span>
                        </a>
                        <hr style="margin: 0;">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;
                        background-color: #ffffee;padding-top: 10px;">
                            <div><span style="color: #888888;">PA:</span> Wilson Kumar
                                <img style="float: right;" width="22px"
                                src="../../assets/icons/minimize.png" alt=""></div>
                            <div style="width: 250px;"
                            >No classes will be held on 25th Dec</div>
                            <span style="color: #888888;margin: 10px;"> <span style="color: #888888;">  </span>
                            <span style="color: #888888;display: inline-block;float: right;margin-left: 5px;">
                                15-Sep-2018 at 07:21 pm</span>
                              </span>
                        </a>
                        <hr style="margin: 0;">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;
                        background-color: #ffffee;padding-top: 10px;">
                            <div><span style="color: #888888;">PA:</span> Wilson Kumar
                                <img style="float: right;" width="22px"
                                src="../../assets/icons/minimize.png" alt=""></div>
                             <div style="width: 250px;"
                             >Additional course materials available on request</div>
                             <span
                             style="color: #888888;margin-top: 8px;display: inline-block;">
                             <span style="color: #888888;">Course: Mathematics 101</span>
                             <span style="color: #888888;display: inline-block;float: right;margin-left: 5px;">
                                15-Sep-2018 at 07:21 pm</span>
                                </span>
                        </a>
                        <hr style="margin: 0;">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;
                        background-color: #ffffee;padding-top: 10px;">
                            <div><span style="color: #888888;">PA:</span> Wilson Kumar
                                <img style="float: right;" width="22px"
                                src="../../assets/icons/minimize.png" alt=""></div>
                            <div style="width: 250px;"
                            >No classes will be held on 25th Dec</div>
                            <span style="color: #888888;margin: 10px;"> <span style="color: #888888;">  </span>
                            <span style="color: #888888;display: inline-block;float: right;margin-left: 5px;">
                                15-Sep-2018 at 07:21 pm</span>
                                </span>
                        </a>
                        <hr style="margin: 0;">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;
                        background-color: #ffffee;padding-top: 10px;">
                            <div><span style="color: #888888;">PA:</span> Wilson Kumar
                                <img style="float: right;" width="22px"
                                src="../../assets/icons/minimize.png" alt=""></div>
                             <div style="width: 250px;"
                             >Additional course materials available on request</div>
                             <span
                             style="color: #888888;margin-top: 8px;display: inline-block;">
                             <span style="color: #888888;">Course: Mathematics 101</span>
                             <span style="color: #888888;display: inline-block;float: right;margin-left: 5px;margin-top: 25px;">
                                15-Sep-2018 at 07:21 pm</span>
                                </span>
                        </a>

                    </div>
                    <div id="two" style="background-color: white;">
                        <button style="margin: 6px 0;">SHOW ALL</button>
                        <span style="border-right: 2px solid #888899;margin:8px 0 ;"></span>
                        <button style="margin: 6px 0;">CREATE NEW</button>
                    </div>
                </div>
                <div class="dropdown-content-alert" >
                    <div id="one">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;
                        background-color: #ffffee;padding-top: 10px;">
                           <div style="width: 375px;margin: 0;"
                           >
                           <img style="float: right;" width="22px"
                            src="../../assets/icons/minimize.png" alt="">
                           License for Introduction to Algebra has been assigned to your school
                            </div>
                            <span style="color: #888888;margin: 10px;"> <span style="color: #888888;">  </span>
                            <span style="color: #888888;display: inline-block;float: right;margin:0 5px;">
                                15-Sep-2018 at 07:21 pm</span>
                                </span>
                        </a>
                        <hr style="margin-top: 0;margin-bottom: 0px;">

                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;padding-top: 12px;">
                            <div style="width: 375px;margin-bottom: 5px;"
                           >
                           <img style="float: right;" width="26px"
                            src="../../assets/icons/completed.jpg" alt="">
                            Lesson 3 Practice Worksheet overdue for Amy Santiago
                            </div>
                            <span
                            style="margin-top: 8px;display: inline-block;">
                            <span style="color: #888888;">Course: </span> Basics of Algebra
                            <span style="color: #888888;display: inline-block;float: right;margin-left: 55px;margin-top: 20px;margin-right: 5px;">
                                15-Sep-2018 at 07:21 pm</span>
                                </span>
                        </a>
                        <hr style="margin: 0;">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;
                        background-color: #ffffee;padding-top: 10px;">
                           <div style="width: 375px;margin-bottom: 5px;"
                           >
                           <img style="float: right;" width="22px"
                            src="../../assets/icons/minimize.png" alt="">
                            23 new students created
                            </div>
                            <span style="color: #888888;margin: 10px;"> <span style="color: #888888;">  </span>
                            <span style="color: #888888;display: inline-block;float: right;margin:0 5px;">
                                15-Sep-2018 at 07:21 pm</span>
                              </span>
                            </a>

                        <hr style="margin: 0;">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;padding-top: 12px;background-color: #ffffee">
                            <div style="width: 375px;margin-bottom: 5px;"
                           >
                           <img style="float: right;" width="22px"
                            src="../../assets/icons/minimize.png" alt="">
                            15 submissions ready for evaluation
                            </div>
                            <span
                            style="margin-top: 8px;display: inline-block;">
                            <span style="color: #888888;">Course: </span> Basics of Algebra
                            <span style="color: #888888;display: inline-block;float: right;margin-left: 55px;margin-top: 20px;margin-right: 5px;">
                                15-Sep-2018 at 07:21 pm</span>
                              </span>
                            </a>
                        <hr style="margin: 0;">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;
                        background-color: #ffffee;padding-top: 10px;">
                           <div style="width: 375px;margin: 0;"
                           >
                           <img style="float: right;" width="22px"
                            src="../../assets/icons/minimize.png" alt="">
                           <span style="width: 255px;display: inline-block;">
                           License for Basic Concepts in Geometry has been assigned to your...
                           </span>
                            </div>
                            <span style="color: #888888;margin: 10px;"> <span style="color: #888888;">  </span>
                            <span style="color: #888888;display: inline-block;float: right;margin:0 5px;">
                                15-Sep-2018 at 07:21 pm</span>
                              </span>
                            </a>
                        <hr style="margin: 0;">
                        <a href="#" id="main" style="font-family: Quicksand_SemiBold;padding-top: 12px;">
                            <div style="width: 375px;margin-bottom: 5px;"
                           >
                           <img style="float: right;" width="26px"
                            src="../../assets/icons/completed.jpg" alt="">
                            Lesson 3 Practice Worksheet overdue for Amy Santiago
                            </div>
                            <span
                            style="margin-top: 8px;display: inline-block;">
                            <span style="color: #888888;">Course:</span> Basics of Algebra
                            <span style="color: #888888;display: inline-block;float: right;margin-left: 55px;margin-top: 20px;margin-right: 5px;">
                                15-Sep-2018 at 07:21 pm</span>
                              </span>
                            </a>

                    </div>
                    <div id="two" style="background-color: white;">
                        <button style="margin: 6px 0;">SHOW ALL</button>

                    </div>

                </div>
  </ul>
</header>


<main >
  <div class="first_selection">
      <div id="one">
          <img src="../../assets/icons/courses.svg" alt="">
          <span style="margin: 0 5px ;font-weight: bold;font-size: 28px;">4 </span> Courses
      </div>
      <div id="two">
          <img src="../../assets/icons/classes.svg" alt="">
          <span style="margin: 0 5px ;font-weight: bold;font-size: 28px;">4 </span> Classes
      </div>
  </div>
  <div class="total">
      Showing 4 out 4 courses
  </div>
  <div class="options">
      <span style="font-family: Quicksand_SemiBold;color: #6b6b6b;">Sort By: </span>
      <span style="position: relative;border-bottom: 1px solid 	#888888;padding-bottom: 7px;">
          <span style="font-family: Quicksand_SemiBold;display: inline-block;width: 200px;font-size: 1.25rem;"
           >Course Name</span>
          <img style="position: absolute;right: 0;" src="../../assets/icons/arrow-down.svg" alt="">
      </span>
      <img style="margin-left: 20px;" src="../../assets/icons/sort.svg" alt="">
  </div>
  <hr style="clear: both;color:	#888888;margin: 0 20px;">
  
  <div id="loading" *ngIf="isLoading">...Loading...</div>

  <div class="items" style="position: relative;min-height: 40vh;" *ngIf="!isLoading">
    <div  [id]="'item'+item.id" *ngFor="let item of courseData">
      <div *ngIf="item.expired" style="position: absolute;top: 0;left: 0;color:red;background-color: #ffe4e6;
                font-size: 10px;padding:2px 5px 2px 2px;font-weight: bold;">EXPIRED</div>
      <div class="box">
        <img [src]="'../../assets/images/'+item.image" alt=""  style="width: 132px;height: 157px;">
        <div class="con">
            <div id="con-1">
                <div id="title">{{item.title}}</div>
                <img
                [src]="'../../assets/icons/'+ (item.favourite ? 'favourite.svg' : 'favourite-unchecked.png')"
                alt="">
            </div>
            <div id="con-2">
                <span id="sub">{{item.subject}}</span>
                <span>Grade</span>
                {{item.grade}} <span id="g-u">+{{item['grade-upto']}}</span>
            </div>
            <div id="con-3">
                <span id="num" *ngIf="item.units">{{item.units}}</span><span id="info" *ngIf="item.units">Units</span>
                <span id="num" *ngIf="item.lessons">{{item.lessons}}</span><span id="info" *ngIf="item.lessons">Lessons</span>
                <span id="num" *ngIf="item.topics">{{item.topics}}</span><span *ngIf="item.units">topics</span>
            </div>
            <div id="con-4">
                <span id="t" [style]="item.classes=== 'No Classes' ? 'color: #6b6b6b' : '' "
                >
                    {{item.classes}}
                </span>
                <img src="../../assets/icons/arrow-down.svg" alt="">
            </div>
            <div id="con-5">
              <span *ngIf="item.students">{{item.students}} Students</span>
              <span *ngIf="item.dateFrom" style="margin: 0;">{{item.dateFrom}}</span>
              <span *ngIf="item.dateTo">{{" - "+item.dateTo}}</span>
            </div>
        </div>

        </div>
        <hr style="clear: both;color:	#BEBEBE;margin: 20px 20px 20px 0 ;">
        <div class="box2">
            <div >
                <img src="../../assets/icons/preview.svg" alt="">
            </div>
            <div >
                <img src="../../assets/icons/manage course.svg" alt="">
            </div>
            <div >
                <img src="../../assets/icons/grade submissions.svg" alt="">
            </div>
            <div >
                <img src="../../assets/icons/reports.svg" alt="">
            </div>
        </div>

    </div>

  </div>
</main>




<footer class="footer">
        <div id="footer-1" style="
            display: grid;
            grid-template-columns: 50% 50%;
            margin-bottom: 15px;
            ">
            <div style="font-family: Quicksand_SemiBold;text-align: end;padding-right:10px;border-right: 1px solid #6b6b6b;color: #338562;">About</div>
            <div style="font-family: Quicksand_SemiBold;padding-left:10px;color: #338562;">Contact Us</div>
        </div>
        <div class="footer-2" style="
        text-align: center;background-color: #e0e1e1;padding: 10px 0;
        display: flex;justify-content: center;align-items: center;">
            <img src="../../assets/icons/logo used in footer.svg" alt=""
            style="padding-right: 10px;display: inline-block;">
            <div style="border-left: 1px solid #6b6b6b;display: inline-block;
            padding-left: 10px;font-family: Quicksand_Regular;">
                Copyright &copy; 2020-2021
                <span style="font-family: Quicksand_SemiBold;margin-right: 10px;">Zeus Systems Pvt. Ltd. </span>
                All rights reserved.
            </div>
        </div>
    </footer>
