<header>
  <img src="/assets/icons/logo used in header.svg" alt="logo" />
</header>
<div id="header-line"></div>
<form [formGroup]="loginForm">
  <main>
    <div id="login-form">
      <div id="login-form-line"></div>
      <div id="login-form-title">Log in</div>
      <div id="login-form-email">
        <input type="email" placeholder="Email ID*" formControlName="email" />
        <div>FORGOT EMAIL ID?</div>
      </div>
      <div class="error email-error" *ngIf="!email.valid && email.touched">
        Invalid Email
      </div>
      <div id="login-form-password">
        <img src="/assets/icons/preview.svg" alt="preview password" />
        <input
          type="password"
          placeholder="Password*"
          formControlName="password"
        />
        <div>FORGOT PASSWORD?</div>
      </div>
      <div
        class="error password-error"
        *ngIf="!password.valid && password.touched"
      >
        Invalid Password
      </div>
      <label id="login-form-remember">
        <input
          type="checkbox"
          id="login-form-remember-checkbox-input"
          formControlName="remember"
        />
        <div id="login-form-remember-checkmark"></div>
        <span>Remember me</span>
      </label>
      <button
        id="login-form-button"
        (click)="logIn()"
        [ngClass]="{ disabled: !loginForm.valid }"
        [disabled]="!loginForm.valid"
      >
        LOG IN
      </button>
      <div id="login-form-not-registered">Not registered yet?</div>
      <div id="login-form-create-account" routerLink="/register">
        CREATE AN ACCOUNT
      </div>
    </div>
  </main>
</form>
<footer>
  <div>
    <span>About</span>
    <span id="footer-mid-line"></span>
    <span>Contact Us</span>
  </div>
</footer>
