<div id="personal-information">
  <div class="item-mid-line"></div>
  <div  class="item-one item" >
    <span class="item-circle">
      <span class="item-circle-count">1</span>
    </span>
    <span class="item-info">
      Personal Information
    </span>
  </div>
  <div class="item-two item" >
    <span class="item-circle">
      <span class="item-circle-count">2</span>
    </span>
    <span class="item-info" >
      Qualifications
    </span>
  </div>
  <div class="item-three item">
    <span class="item-circle">
      <span class="item-circle-count">3</span>
    </span>
    <span class="item-info">
      Review and Proceed
    </span>
  </div>
</div>

<span id="personal-information" >
  Personal Information
</span>
<span id="personal-information-edit">
  <img src="/assets/icons/edit_icon.png" alt="" width="16px" height="16px">
  Edit
</span>


<div id="personal-information-box">

  <div id="first-half">
    <div id="first-name-box">
      <div id="field-name">First Name</div>
      <div id="field-name-input-box">
        <span>Hiten</span>
      </div>
    </div>
    <div id="last-name-box">
      <div id="field-name">Last Name</div>
      <div id="field-name-input-box">
        <span>Chawda</span>
      </div>
    </div>
    <div id="email-box">
      <div id="field-name">Email</div>
      <div id="field-name-input-box">
        <span>hiten.chawda@zeuslearning.com</span>
      </div>
    </div>
    <div id="phone-number-box">
      <div id="field-name">Phone Number</div>
      <div id="phone-number-input-box">
        <span>+</span>
        <span id="phone-code">91</span>
        <span id="phone-number">7977726440</span>
      </div>
    </div>
    <label id="upload-resume-box">
      <span>
        <img src="/assets/icons/upload_resume_icon.svg" width="14px" height="14px" alt="">
        UPLOAD RESUME
      </span>
    </label>
    <div id="portfolio-box">
      <div id="field-name">Enter Portfolio URL (if any)</div>
      <div id="field-name-input-box">
        <span>www.myportfolio.in</span>
      </div>
    </div>
    <div id="job-roles-box">
      <div id="field-name">Preferred Job Roles</div>
      <label class="item-job-role">
        <span>Instructional Designer</span>
      </label>
      <label class="item-job-role">
        <span>Software Engineer</span>
      </label>
      <label class="item-job-role">
        <span>Software Quality Engineer</span>
      </label>
    </div>
    <div id="referral-box">
      <div id="field-name">
        If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You
      </div>
      <div id="field-name-input-box">
        <span>-</span>
      </div>
    </div>
    <div id="subscription-box">
      <label class="subscription-job-role">
        <img src="/assets/icons/checkbox-checked-black.svg" alt="">
        <span>Send me job related updates via mail</span>
      </label>
    </div>
  </div>

  <div id="second-half" style="text-align: right;">
    <img src="assets/icons/upload_display_picture.png" alt="" width="134px" height="134px">
  </div>
</div>

<span id="qualifications" >
  Qualifications
</span>
<span id="qualifications-edit">
  <img src="/assets/icons/edit_icon.png" alt="" width="16px" height="16px">
  Edit
</span>


<div class="accordion-item">
  <div class="accordion-item-header">
    <span id="one">Educational Qualifications</span>
  </div>
  <div class="accordion-item-body">
    <div class="accordion-item-body-content">

        <div id="aggregate-percentage-box">
          <div id="field-name">Aggregate Percentage</div>
          <div id="field-name-input-box">
            <span>65</span>
          </div>
        </div>
        <div id="year-of-passing-box">
          <div id="field-name">Year Of Passing</div>
          <div id="field-name-input-box">
            <span>2000</span>
          </div>
        </div>

        <div id="box">
          <div id="first-half">
            <div id="qualification-box">
              <div id="field-name">Qualifications</div>
              <div id="field-name-input-box">
                <span>Bachelor in Technology (B.Tech)</span>
              </div>
            </div>
            <div id="college-box">
              <div id="field-name">College</div>
              <div id="field-name-input-box">
                <span>Pune Institute of Technology (PIT)</span>
              </div>
            </div>
          </div>
          <div id="second-half">
            <div id="qualification-box">
              <div id="field-name">Stream</div>
              <div id="field-name-input-box">
                <span>Information Technology</span>
              </div>
            </div>
            <div id="other-college-box">
              <div id="field-name">If Others, Please Enter Your College Name</div>
              <div id="field-name-input-box">
                <span>-</span>
              </div>
            </div>
          </div>
        </div>

        <div id="college-location-box">
          <div id="field-name">Where Is Your College Located?*</div>
          <div id="field-name-input-box">
            <span>Pune</span>
          </div>
        </div>
    </div>
  </div>
</div>



<div class="accordion-item next-accordion-item">
  <div class="accordion-item-header">
    <span id="one">Professional Qualifications</span>
  </div>
  <div class="accordion-item-body">
    <div class="accordion-item-body-content professional-content">

      <div id="applicant-type-box">
        <div id="field-name">Applicant Type</div>
        <div id="field-name-input-box">
            <span>{{isFresher === true ? 'Fresher' : 'Experienced'}}</span>
        </div>
      </div>


      <!-- experienced content starts -->
      <div id="experienced-box" *ngIf="!isFresher">

        <div id="experienced-inner-box">
          <div id="experienced-inner-box-first-half">

            <div id="year-of-experince-box">
              <div id="field-name">Year Of Experince*</div>
              <div id="field-name-input-box">
                <span>5</span>
              </div>
            </div>
            <div id="current-ctc-box">
              <div id="field-name">Current CTC* (In Rupees)</div>
              <div id="field-name-input-box">
                <span>5,00,000</span>
              </div>
            </div>
            <div id="expected-ctc-box">
              <div id="field-name">Expected CTC* (In Rupees)</div>
              <div id="field-name-input-box">
                <span>6,50,000</span>
              </div>
            </div>
            <div id="expertised-technologies">
              <div id="field-name">Select All The Technologies You Expertise In*</div>
              <div id="technology-input-box">
                <span>Javascript</span>
              </div>
              <div id="other-technologies">
                <div id="field-name">If Others, Please Mention</div>
                <div id="field-name-input-box">
                  <span>-</span>
                </div>
              </div>
            </div>
            <div id="familiar-technologies">
              <div id="field-name">Select All The Technologies You Are Familiar In*</div>
              <div id="technology-input-box">
                <span>Angular JS</span>
                <span>React</span>
              </div>
              <div id="other-technologies">
                <div id="field-name">If Others, Please Mention</div>
                <div id="field-name-input-box">
                  <span>-</span>
                </div>
              </div>
            </div>
            <div id="notice-period-box">
              <div id="field-name">Are You Currently On Notice Period?*</div>
              <div id="field-name-input-box">
                <span>Yes</span>
              </div>
            </div>

          </div>
          <div id="experienced-inner-box-second-half">
          </div>
        </div>


        <div id="notice-period-second-box">
          <div id="first-notice-period-half">
            <div id="notice-period-duration-box">
              <div id="field-name">How Long Is Your Notice Period?* (Mention In Months)*</div>
              <div id="field-name-input-box">
                <span>20-May-2020</span>
              </div>
            </div>
          </div>
          <div id="second-notice-period-half">
            <div id="notice-period-end-box">
              <div id="field-name">How Long Is Your Notice Period?* (Mention In Months)*</div>
              <div id="field-name-input-box">
                <span>2 months</span>
              </div>
            </div>
          </div>
        </div>

        <div id="zeus-test">
          <div id="zeus-test-first-half">
            <div id="past-appearance-box">
              <div id="field-name">Have You Appeared For Any Test By Zeus In The Past 12 Months?**</div>
              <div id="field-name-input-box">
                <span>No</span>
              </div>
            </div>
            <div id="previous-applied-job-role">
              <div id="field-name">If Yes, Which Role Did You Apply For?</div>
              <div id="field-name-input-box">
                <span>-</span>
              </div>
            </div>
          </div>
          <div id="zeus-test-second-half"></div>
        </div>



      </div>
      <!-- experienced content ends -->

      <!-- fresher content starts -->
      <div id="fresher-box" *ngIf="isFresher">

        <div id="fresher-inner-box">
          <div id="fresher-inner-box-first-half">

            <div id="fresher-familiar-technologies">
              <div id="field-name">Select All The Technologies You Are Familiar In*</div>
              <div id="technology-input-box">
                <span>Angular JS</span>
                <span>React</span>
              </div>
              <div id="other-technologies">
                <div id="field-name">If Others, Please Mention</div>
                <div id="field-name-input-box">
                  <span>-</span>
                </div>
              </div>
            </div>
            <div id="past-appearance-box">
              <div id="field-name">Have You Appeared For Any Test By Zeus In The Past 12 Months?**</div>
              <div id="field-name-input-box">
                <span>No</span>
              </div>
            </div>
            <div id="previous-applied-job-role">
              <div id="field-name">If Yes, Which Role Did You Apply For?</div>
              <div id="field-name-input-box">
                <span>No</span>
              </div>
            </div>

          </div>
          <div id="fresher-inner-box-second-half">
          </div>
        </div>



      </div>
      <!-- fresher content ends -->

    </div>
  </div>
</div>
