/** @format */

@font-face {
  font-family: "Quicksand_Med";
  src: url("../../assets/Quicksand_font_1/static/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand_Bold";
  src: url("../../assets/Quicksand_font_1/static/Quicksand-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand_Light";
  src: url("../../assets/Quicksand_font_1/static/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand_SemiBold";
  src: url("../../assets/Quicksand_font_1/static/Quicksand-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand_Regular";
  src: url("../../assets/Quicksand_font_1/static/Quicksand-Regular.ttf") format("truetype");
}

span#log {
  text-align: center;
  font-size: 28px;
  font-family: "Quicksand_SemiBold";
}
div.box {
  width: 45%;
  background-color: white;
  /* margin: auto; */
  /* margin-top: 100px; */
  padding: 20px 20px;
  border-top:5px solid #31b9e4;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
div.in-container {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-left: 15px;
  margin-right: 15px;
}
div.in-container > img {
  width: 24px;
  height: 24px;
}

.radio {
  display: inline-flex;
  align-self: center;
  cursor: pointer;
  margin-right: 10px;
}
.radio__input {
  display: none;
}
.radio__radio {
  width: 1em;
  height: 1em;
  border: 2px solid green;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
}
.radio__radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: green;
  border-radius: 50%;
  transform: scale(0);
}
.radio__input:checked + .radio__radio::after {
  transform: scale(1);
}
/*
div.radio-group{
    margin-left: 15px;

    margin-top: 15px;
    display: flex;
    font-size: 20px;
}
div.radio-group #one{
    flex: 4;
}
div.radio-group #two{
    flex: 8;
} */

/* div.input-state{
    margin-top: 15px;
}
select{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-bottom: 1px solid #6b6b6b;
    width: 100%;
} */
div.floating-label{
  color: #6b6b6b;
  font-size: 12px;
  font-family: "Quicksand_SemiBold";
}

div.input-state {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
div.input-district {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

div.input-state > select{
  appearance: none;
  width: 100%;
  border: 0;
  font-family:'Quicksand_SemiBold';
  background: url('../../assets/icons/arrow-down.svg') no-repeat right;
  font-size: 16px;
  border-bottom: 2px solid #6b6b6b;
}

div.input-district > select{
  appearance: none;
  width: 100%;
  border: 0;
  font-family:'Quicksand_SemiBold';
  background: url('../../assets/icons/arrow-down.svg') no-repeat right;
  font-size: 16px;
  border-bottom: 2px solid #6b6b6b;
}


div.username {
  margin-right: 30px;
}
div.username input {
  margin-top: 50px;
  width: 100%;
  margin-left: 15px;
  border: 0;
  border-bottom: 1px solid #6b6b6b;
}
div.username input::placeholder {
  font-family: "Quicksand_SemiBold";
  font-size: 16px;
}
div.username input:focus {
  outline: none;
}
/* div.username {
  margin-top: 40px;

  margin-left: 15px;
  margin-right: 15px;
  color: #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
} */
div.FU {
  margin-right: 15px;
  font-family:"Quicksand_Regular";
  color: #398968;
  text-align: end;
  font-weight: 600;
  font-size: 16px;
}
div.password {
  margin-right: 30px;
}
div.password input {
  margin-top: 35px;
  width: 100%;
  margin-left: 15px;
  border: 0;
  border-bottom: 1px solid #6b6b6b;
}
div.password input::placeholder {
  font-family: "Quicksand_SemiBold";
  font-size: 16px;
}
div.password input:focus {
  outline: none;
}

div.FP {
  margin-right: 15px;
  font-family:"Quicksand_Regular";
  color: #398968;
  text-align: end;
  font-weight: 600;
  font-size: 16px;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 13px;
}
img#back_image {
  margin-top: 6px;
}

#checkbox-input{
  display: none;
}
.checkmark{
  width: 24px;
  height: 24px;
  background: url('../../assets/icons/checkbox-unchecked.svg');
  box-sizing: border-box;
}

.checkmark::after{
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url('../../assets/icons/checkbox-checked.svg');
  opacity: 0;
}
#checkbox-input:checked + .checkmark::after{
  opacity: 1;
}

@media all and (max-width: 768px) {
  img#back_image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span#log {
    font-size: 26px;
  }
  div.box {
    width: 60%;
  }
  /* body{
    height: 150vh;
  } */
}
