body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div.container{
    /* border: 2px solid black; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 0 10px;
}
div.inside-container{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
div.social-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
img#user{
    width: 100px;
    border-radius: 50px;
    float: left;
}
img.icons{
    width: 24px;
    height: 24px;
}
