<div id="personal-information">
  <div class="item-mid-line"></div>
  <div  class="item-one item" >
    <span class="item-circle">
      <span class="item-circle-count">1</span>
    </span>
    <span class="item-info">
      Personal Information
    </span>
  </div>
  <div class="item-two item" >
    <span class="item-circle">
      <span class="item-circle-count">2</span>
    </span>
    <span class="item-info" >
      Qualifications
    </span>
  </div>
  <div class="item-three item">
    <span class="item-circle not-active-circle">
      <span class="item-circle-count">3</span>
    </span>
    <span class="item-info">
      Review and Proceed
    </span>
  </div>
</div>


<div class="accordion-item">
  <div class="accordion-item-header active">
    <span id="one">Educational Qualifications</span>
    <span id="two"></span>
  </div>
  <div class="accordion-item-body">
    <div class="accordion-item-body-content">

        <div id="aggregate-percentage-box">
          <div id="field-name">Aggregate Percentage*</div>
          <div id="field-name-input-box">
            <input type="number" required  placeholder="">
          </div>
        </div>
        <div id="year-of-passing-box">
          <div id="field-name">Year Of Passing*</div>
          <div id="year-of-passing-select-box">
            <select>
              <option value="0">2020</option>
              <option value="1">2019</option>
              <option value="2">2018</option>
              <option value="3">2017</option>
            </select>
          </div>
        </div>

        <div id="box">
          <div id="first-half">
            <div id="qualification-box">
              <div id="field-name">Qualifications*</div>
              <div id="field-name-select-box">
                <select>
                  <option value="0">Bachelor in Technology (B.Tech)</option>
                  <option value="1">Bachelor in Technology (B.Tech)</option>
                  <option value="2">Bachelor in Technology (B.Tech)</option>
                  <option value="3">Bachelor in Technology (B.Tech)</option>
                </select>
              </div>
            </div>
            <div id="college-box">
              <div id="field-name">College*</div>
              <div id="field-name-select-box">
                <select>
                  <option value="0">Pune Institute of Technology (PIT)</option>
                  <option value="1">Pune Institute of Technology (PIT)</option>
                  <option value="2">Pune Institute of Technology (PIT)</option>
                  <option value="3">Pune Institute of Technology (PIT)</option>
                </select>
              </div>
            </div>
          </div>
          <div id="second-half">
            <div id="qualification-box">
              <div id="field-name">Stream*</div>
              <div id="field-name-select-box">
                <select>
                  <option value="0">Information Technology</option>
                  <option value="1">Information Technology</option>
                  <option value="2">Information Technology</option>
                  <option value="3">Information Technology</option>
                </select>
              </div>
            </div>
            <div id="other-college-box">
              <div id="field-name">If Others, Please Enter Your College Name</div>
              <div id="other-college-input-box">
                <input  type="text" required  placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div id="college-location-box">
          <div id="field-name">Where Is Your College Located?*</div>
          <div id="field-name-input-box">
            <input type="text" required  placeholder="">
          </div>
        </div>
    </div>
  </div>
</div>

<div class="accordion-item next-accordion-item">
  <div class="accordion-item-header active">
    <span id="one">Professional Qualifications</span>
    <span id="two"></span>
  </div>
  <div class="accordion-item-body">
    <div class="accordion-item-body-content professional-content">

      <div id="applicant-type-box">
        <div id="field-name">Applicant Type*</div>
        <div id="applicant-type-radio-box">
            <label  class="radio" id="fresher-radio">
                <input type="radio" name="myRadioField" value="Fresher" class="radio-input" >
                <div class="radio-radio"></div>
                <span class="radio-text">Fresher</span>
            </label>
            <label  class="radio" id="experienced-radio">
                <input type="radio" name="myRadioField" value="Experienced" class="radio-input" >
                <div class="radio-radio"></div>
                <span class="radio-text">Experienced</span>
            </label>
        </div>
      </div>


      <div>

      </div>
      <div id="fresher-box" *ngIf="isFresher">

        <div id="fresher-inner-box">
          <div id="fresher-inner-box-first-half">

            <div id="fresher-familiar-technologies">
              <div id="field-name">Select All The Technologies You Are Familiar In*</div>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Javascript</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Angular JS</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>React</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Node JS</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Others</span>
              </label>
              <div id="other-technologies">
                <div id="field-name">If Others, Please Mention</div>
                <div id="other-technologies-input-box">
                  <input type="text" required  placeholder="">
                </div>
              </div>
            </div>
            <div id="past-appearance-box">
              <div id="field-name">Have You Appeared For Any Test By Zeus In The Past 12 Months?**</div>
              <div id="past-appearance-radio-box">
                  <label  class="radio" >
                      <input type="radio" name="myRadioField" value="Yes" class="radio-input" >
                      <div class="radio-radio pre-checked"></div>
                      <span class="radio-text">Yes</span>
                  </label>
                  <label  class="radio">
                      <input type="radio" name="myRadioField" value="No" class="radio-input" >
                      <div class="radio-radio"></div>
                      <span class="radio-text">No</span>
                  </label>
              </div>
            </div>
            <div id="previous-applied-job-role">
              <div id="field-name">If Yes, Which Role Did You Apply For?</div>
              <div id="previous-applied-job-role-input-box">
                <input  type="text" required  placeholder="">
              </div>
            </div>

          </div>
          <div id="fresher-inner-box-second-half">
          </div>
        </div>



      </div>

      <div id="experienced-box" *ngIf="!isFresher">

        <div id="experienced-inner-box">
          <div id="experienced-inner-box-first-half">

            <div id="year-of-experince-box">
              <div id="field-name">Year Of Experince*</div>
              <div id="field-name-input-box">
                <input type="number" required  placeholder="">
              </div>
            </div>
            <div id="current-ctc-box">
              <div id="field-name">Current CTC* (In Rupees)</div>
              <div id="field-name-input-box">
                <input type="text" required  placeholder="">
              </div>
            </div>
            <div id="expected-ctc-box">
              <div id="field-name">Expected CTC* (In Rupees)</div>
              <div id="field-name-input-box">
                <input type="text" required  placeholder="">
              </div>
            </div>
            <div id="expertised-technologies">
              <div id="field-name">Select All The Technologies You Expertise In*</div>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Javascript</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Angular JS</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>React</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Node JS</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Others</span>
              </label>
              <div id="other-technologies">
                <div id="field-name">If Others, Please Mention</div>
                <div id="other-technologies-input-box">
                  <input type="text" required  placeholder="">
                </div>
              </div>
            </div>
            <div id="familiar-technologies">
              <div id="field-name">Select All The Technologies You Are Familiar In*</div>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Javascript</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Angular JS</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>React</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Node JS</span>
              </label>
              <label class="item-job-role">
                <input type="checkbox" class="item-job-role-checkbox-input">
                <div class="item-job-role-checkmark"></div>
                <span>Others</span>
              </label>
              <div id="other-technologies">
                <div id="field-name">If Others, Please Mention</div>
                <div id="other-technologies-input-box">
                  <input type="text" required  placeholder="">
                </div>
              </div>
            </div>
            <div id="notice-period-box">
              <div id="field-name">Are You Currently On Notice Period?*</div>
              <div id="notice-period-radio-box">
                  <label  class="radio" id="on-notice-period-yes-radio">
                      <input type="radio" name="myRadioField" value="Yes" class="radio-input" >
                      <div class="radio-radio pre-checked"></div>
                      <span class="radio-text">Yes</span>
                  </label>
                  <label  class="radio">
                      <input type="radio" name="myRadioField" value="No" class="radio-input" >
                      <div class="radio-radio"></div>
                      <span class="radio-text">No</span>
                  </label>
              </div>
            </div>

          </div>
          <div id="experienced-inner-box-second-half">
          </div>
        </div>


        <div id="notice-period-second-box">
          <div id="first-notice-period-half">
            <div id="notice-period-duration-box">
              <div id="field-name">How Long Is Your Notice Period?* (Mention In Months)*</div>
              <div id="notice-period-duration-date-box">
                <input type="date" >
              </div>
            </div>
          </div>
          <div id="second-notice-period-half">
            <div id="notice-period-end-box">
              <div id="field-name">How Long Is Your Notice Period?* (Mention In Months)*</div>
              <div id="field-name-select-box" class="notice-select">
                <select>
                  <option value="0">2 months</option>
                  <option value="1">3 months</option>
                  <option value="2">4 months</option>
                  <option value="3">5 months</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div id="zeus-test">
          <div id="zeus-test-first-half">
            <div id="past-appearance-box">
              <div id="field-name">Have You Appeared For Any Test By Zeus In The Past 12 Months?**</div>
              <div id="past-appearance-radio-box">
                  <label  class="radio" >
                      <input type="radio" name="myRadioField" value="Yes" class="radio-input" >
                      <div class="radio-radio pre-checked"></div>
                      <span class="radio-text">Yes</span>
                  </label>
                  <label  class="radio">
                      <input type="radio" name="myRadioField" value="No" class="radio-input" >
                      <div class="radio-radio"></div>
                      <span class="radio-text">No</span>
                  </label>
              </div>
            </div>
            <div id="previous-applied-job-role">
              <div id="field-name">If Yes, Which Role Did You Apply For?</div>
              <div id="previous-applied-job-role-input-box">
                <input  type="text" required  placeholder="">
              </div>
            </div>
          </div>
          <div id="zeus-test-second-half"></div>
        </div>



      </div>

    </div>
  </div>
</div>
