<header>
  <img src="/assets/icons/Zeus-LMS-logo.svg" alt="logo">
  <span>
    <span>H</span>
  </span>
</header>
<div id="header-line"></div>

<div id="success-box">
  <img src="/assets/icons/success.png" alt="">
  <div id="sucess-message">
    Congratulations ! You have successfully applied for the walk-in oppotunity
  </div>
  <div class="rule"></div>
  <div id="date-time">
    <div class="field-title">
      Date & Time of Walk-In :
    </div>
    <div class="date-time-content">
      <div>03rd july 2021</div>
      <div>9:00 AM to 11:00 AM</div>
    </div>
  </div>
  <div class="rule"></div>
  <div id="venue">
    <div class="field-title">
      Venue of Walk-In :
    </div>
    <div class="field-content">
      <div>Zeus Systems Pvt. Ltd.</div>
      <div>1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg</div>
      <div>Lower Parel (W)</div>
      <div>Mumbai - 400 013</div>
      <div>Phone: +91-22-66600000</div>
    </div>
  </div>
  <div class="rule"></div>
  <div id="things">
    <div class="field-title">
      THINGS TO REMEMBER :
    </div>
    <div class="field-content">
      <div>- Please report 30 MINUTES priot to your reporting time.</div>
      <div>- Download your Hall Ticket from below and carry it with you during your Walk-In.</div>
    </div>
  </div>
  <div class="rule"></div>
  <div id="download">
    <button>DOWNLOAD HALL TICKET</button>
  </div>
</div>
