
div#success-box{
  position: relative;
  margin: 76px 24px 0 24px;
  padding: 0 16px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 6px #0000003D;
  opacity: 1;
}
div#success-box > img{
  position: absolute;
  right: 50%;
  transform: translate(50%,-50%);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 6px #00000029;
  opacity: 1;
  border-radius: 50%;
}
div#sucess-message{
  padding: 74px 0 24px 0;
  text-align: center;
  color: #222222;
  font-size: 18px;
  font-family: "Quicksand_Bold";
}
div.rule{
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.12;
  height: 2px;
}
div#date-time{
  padding: 16px 0;
}
div.field-title{
  color: #666666;
  font-size: 12px;
  font-family: 'Quicksand_SemiBold';
}
div.date-time-content{
  font-size: 14px;
  color: #222222;
  font-family: 'Quicksand_Bold';
}
div.field-content{
  font-size: 14px;
  color: #222222;
  font-family: 'Quicksand_Bold';
  margin-top: 8px;
}
div.date-time-content > div{
  margin-top: 8px;
}
div#venue{
  padding: 16px 0;
}
div#things{
  padding: 16px 0;
}
div#download{
  padding: 24px 0;
  text-align: center;
}
div#download > button{
  background: #3FD28B 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #0000003D;
  opacity: 1;
  border: 0;
  padding: 5px 16px;
  color: #25313F;
  font-size: 14px;
  font-family: 'Quicksand_Bold';
  height: 28px;
}
